<!-- Footer -->
<footer> 
	
	<div class="content container-fluid "> <!-- Footer Container-->
		<div class-"row">
			<div class="col-sm-12">
				<p>Call us toll-free at <span class"phone">888-555-5555</span></p>
				<p>All contents &copy; 2015 <a href="http://insitupower.com">InsituPower.com</a></p> 
				<p>All rights reserved.</p>
			</div> <!-- col-sm-6-->
			
		</div> <!-- row -->
	</div><!-- Footer Container-->
		
</footer>
<!-- Footer-->