 <nav class="navbar navbar-default navbar-fixed-top">
	     <div class="container container-nav">
	         <ul class="nav navbar-nav">
				 <div class="col-xs-3 col-xs-offset-3"><a href="/home/index"> <i class="fa fa-home fa-2x nav-icon"></i></a></div>
				 <div class="col-xs-3"><a href="http://linkedin.com/in/brendangillies"><i class="fa fa-linkedin fa-2x nav-icon"></i></a></div>
	         </ul>
	       
	     </div><!-- /.container-->
	   </nav> 

