

<% provide(:home, "active")%>
<%=render :partial => 'navigation'%>




<!-- Top content -->
<div class="mobile-content container-fluid">
	<div class='container container-fixed'>
		<h1>Brendan Gillies</h1>
		<p><em class='text-shuffle' data-word-array='["engineer in training", "full-stack developer"]'>designer</em></p>
	</div>
	<hr></hr>
	
	<div class='row'>
		<%= render(:partial => 'aboutme')%>
	</div>
	
	
	<hr></hr>
		<div class='row'>
			<div class='container container-fixed text-center'>	
				<div class='col-xs-6 col-md-3 col-md-offset-3'>
					<h2>Blog Posts</h2>
					<p><%=link_to "How I Learned to Code", blog_path %></p>
					<p><%=link_to "Experiments in Outsourcing", blog_path %></p>
				</div>
				<div class='col-xs-6 col-md-3'>
					<h2>Projects</h2>
					<p><a href='https://rhubarbcollective.com' target='_blank'>Rhubarb Collective</a></p>
					
					<!-- Trigger the modal with a button -->
					<p>
						<button data-toggle="modal" data-target="#myModal">3D Printed Guitar Orthotic</button></p>

					<!-- Modal -->
					<div id="myModal" class="modal fade" role="dialog">
					  <div class="modal-dialog">

					    <!-- Modal content-->
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					        <h4 class="modal-title">3D Printed Guitar Orthotic</h4>
					      </div>
					      <div class="modal-body">
							<div class="embed-responsive embed-responsive-16by9">
							  Test
							  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WTNe69AY4OI"></iframe>
							</div>
					      </div>
					    </div>

					  </div>
					</div>
					
						<!-- Trigger the modal with a button -->
						<p>
							<button data-toggle="modal" data-target="#myModal2">Wind Powered Pump</button></p>

						<!-- Modal -->
						<div id="myModal2" class="modal fade" role="dialog">
						  <div class="modal-dialog">

						    <!-- Modal content-->
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal">&times;</button>
						        <h4 class="modal-title">Wind Powered Pump</h4>
						      </div>
						      <div class="modal-body">
								<p>Description & photos coming soon.</p>
						      </div>
						   </div>
					   </div>
				
				</div>
			</div>
		</div>
		<br><br>
</div>

