

                	
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<div class="row text-center">
	  	  	  <!-- Indicators -->
	  	  	  <ol class="carousel-indicators">
	  	  	    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	  	  	    <li data-target="#myCarousel" data-slide-to="1"></li>
	  	  	    
	  	  	  </ol>
	
		</div>
			
	  	 
		
	 

	
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
			<div class="Orthoric">
				<%= render(:partial => '/projects/insitu')%>
			</div>
	    </div>

	    <div class="item">
	      	<%= render(:partial => '/projects/orthotic')%>
	    </div>


	  </div>

	
	</div>



