<% provide(:home, "active")%>


  		<div class="row text-center row-3">
				<div class="text"> 
				<h3>(Coming soon)</h3>
				<a class="btn btn-primary btn-med btn-1 " href="/home/index" role="button">Back</a>
				</div>
		</div>


  
  		
