<%=render :partial => 'navigation'%>

<div class='top-content container container-fixed'> 
	<div class='col-xs-12 col-md-8 col-md-offset-2'>
		<h1><%=link_to "Blog", root_path%></h1>
		<hr></hr>
		<%= render :partial => 'responsive'%> 
	</div>
</div>

		
		

