<%=render :partial => 'navigation'%>

<div class='top-content container container-fluid'> 
	<div class='col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2'>
		<h1><%=link_to "Blog", root_path%></h1>
		<hr></hr> 
		<p>This blog post is in progress*</p>
		<%= render :partial => 'responsive'%>
	</div>
</div>

		
		

