<% provide(:home, "active")%>

<div class="container-fluid container-1">
	<div class="row text-center row-1">
			</br></br>
			<h1>Brendan Gillies</h1>
			<p class="lead">Online resume and portfolio.</p>
	</div>
	
	<div class="row text-center row-2">
			<a class="btn btn-primary" href="/home/about"><i class="fa fa-coffee fa-2x"></i> </a>
			<a class="btn btn-primary" href="/home/about"><i class="fa fa-folder fa-2x"></i> </a>
			<a class="btn btn-primary" href="/home/about"> <i class="fa fa-cogs fa-2x"></i> </a>
			<a class="btn btn-primary" href="/home/about"> <i class="fa fa-desktop fa-2x"></i> </a>
			<a class="btn btn-primary" href="/home/about"> <i class="fa fa-envelope-o fa-2x"></i> </a>
			<a class="btn btn-primary" href="/home/about">
			<i class="fa fa-linkedin fa-2x"></i> </a>
			<a class="btn btn-primary" href="/home/about"> 	
			<i class="fa fa-github fa-2x"></i> </a>
	</div>
	
	
</div>




 