<% provide(:home, "active")%>

	<!-- Top content -->
	<div class="top-content container-fluid">
		<div class="jumbotron jumbotron-main text-center">
			<h1> Brendan Gillies</h1>
			<p>Interactive resume.</p>
	
			<a class="scroll-link landing-down" href="#about-me"><i class="fa fa-angle-double-down fa-3x" aria-hidden="true"></i></a>
	
		</div>
	
	</div>


	<!-- Second Page (About Me) -->
	<div class='about-me-container container-fluid'>
		<div class='container-fixed'>
			<%= render(:partial => 'aboutme')%>
		</div>
	</div>



	<!-- Third Page (Projects) -->
	<div class='projects-container container-fluid'>
		<%= render(:partial => 'projects')%>
	</div>
	
	<!-- Fourth Page (Contact) -->
	<div class='contact-container'>
			<div class="row text-center">
		 	   <a href="mailto:admin@brendangillies.com?Subject=Hello"><i href="/contacts/new" class="fa fa-envelope-o fa-3x footer-icon"></i></a>
			  <a href="https://www.linkedin.com/in/brendangillies"><i class="fa fa-linkedin fa-3x footer-icon"></i></a>
			</div>
	</div>