<% provide(:home, "active")%>


<div class="container">
	<div class="row"><!--JUMBOTRON ROW-->
			<div class="col-md-12 jumbotron">
				<div class="text-center">
					<h1> Interactive resume and blog...</h1>
					<p>Just to see how this text looks underneath of the main heading</p>
					<a href="#" class="btn btn-lg btn-success">Learn more</a>
				</div>
			</div>
	</div><!--JUMBOTRON ROW-->
</div>