<% provide(:home, "active")%>

<div class="container-fluid full-width"> <!-- Container-->
	<div class ="row">
		
		<div class="col-md-3 col-sm-6">
			<%= image_tag('bg.jpg') %>
		</div>
		
		<div class="col-md-9 col-sm-6">
			<h1>Interactive resume and blog coming soon.</h1>
		</div>
	</div>
</div> <!-- Container-->