<% provide(:home, "active")%>


	<% if !flash[:notice].blank? %>
		<div class="row text-center row-notice">
				<h3><%= flash[:notice]%></h3>
		</div>
	<% end%>
	


	<div class="container-fluid text-center container-1">
		<div class="jumbotron">
				<h1>Brendan Gillies</h1>
				<a class="btn btn-primary" href="/home/portfolio"> <i class="fa fa-desktop fa-2x"></i> </a>
				<a class="btn btn-primary" href="/contacts/new"> <i class="fa fa-envelope-o fa-2x"></i> </a>
				<a class="btn btn-primary" href="http://linkedin.com/in/brendangillies"> <i class="fa fa-linkedin fa-2x"></i> </a>
		</div>
	</div>