<% provide(:home, "active")%>

<div class="container-fluid text-center container-1">
			<h1>BG</h1>
			<p class="lead">Online resume and portfolio.</p>
			<a class="btn btn-primary" href="/home/about"> <i class="fa fa-coffee fa-2x"></i> </a>
			<a class="btn btn-primary" href="/home/about"> <i class="fa fa-cogs fa-2x"></i> </a>
			<a class="btn btn-primary" href="/home/about"> <i class="fa fa-desktop fa-2x"></i> </a>
			<a class="btn btn-primary" href="/home/about"> <i class="fa fa-envelope-o fa-2x"></i> </a>
			<a class="btn btn-primary" href="http://linkedin.com/in/brendangillies"> <i class="fa fa-linkedin fa-2x"></i> </a>
</div>




 