<% provide(:home, "active")%>


  		<div class="row text-center row-1">
				<h1>Brendan Gillies</h1>
	          	<p class="lead">Online portfolio and resume</p>
		</div>


  
  		<div class="row text-center row-2">
		</div>

