<% provide(:home, "active")%>
<% provide(:title, "Home") %>

	<!-- Carousel
	    ================================================== -->
	    <div id="myCarousel" class="carousel slide" data-ride="carousel">
	      <!-- Indicators -->
	      <ol class="carousel-indicators">
	        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	        <li data-target="#myCarousel" data-slide-to="1"></li>
	        <li data-target="#myCarousel" data-slide-to="2"></li>
	      </ol>
	      <div class="carousel-inner" role="listbox">
	        <div class="item active">
	          <%= image_tag('red.jpg') %>
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Thanks for stopping by!</h1>
	              <p>My name's Brendan, and I like to build things!</p>
	              <p><a class="btn btn-lg btn-primary" href="pages/reporting" role="button">Free Trial</a></p>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <%= image_tag('red.jpg') %>
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Bring power to your team.</h1>
	              <p>Insitu's principal's have over 50 years of combined experience in managing industrial utility costs.</p>
	              <p><a class="btn btn-lg btn-primary" href='pages/profiles' role="button"> Profiles </a></p>
	            </div>
	          </div>
	        </div>
	        <div class="item">
	          <%= image_tag('red.jpg') %>
	          <div class="container">
	            <div class="carousel-caption">
	              <h1>Creative Solutions</h1>
	              <p>Changing power generation supply means opportunities for your business.</p>
	              <p><a class="btn btn-lg btn-primary" href="pages/profiles" role="button">Let's work together</a></p>
	            </div>
	          </div>
	        </div>.
	      </div>
	      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	        <span class="sr-only">Previous</span>
	      </a>
	      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	        <span class="sr-only">Next</span>
	      </a>
	    </div><!-- /.carousel -->



	<!--Page Content -->
	<div class="main"> 

		<!--Mission -->
		<div class="page" id="mission">
			<div class="content container"> <!--Content Container -->
				<h2> Thanks for stopping by! </h2>
				<div class="row"><!--Row-->
					</br><p class="col-md-8 col-md-offset-2">   Hi there, thanks for stopping by. My name's Brendan and I like to build things. 
				</div>	<!--Row-->
			</div> <!--Content Container -->
		</div>  <!-- Mission Page -->
	
				