<% provide(:home, "active")%>

<div class="row text-center">
	<%= render(:partial => '/shared/navbar')%>
</div>


<div class="container container-fixed container-content">
  		<div class="row row-3 text-center">
				<h1>Coming Soon</h1>
				<p>Thanks for stopping by! My online portfolio is currently in development. </br> Come back soon! </p>
				<a class="btn btn-primary btn-med btn-1 " href="/home/index" role="button">Back</a>
		</div>
</div>


  
  		
			
				
				
				
				
			