<% provide(:home, "active")%>

<%= render(:partial => '/shared/navbar')%>

<div class="container container-content">
  		<div class="row text-center row-3">
				<div class="row row-city">
					<h1>Coming Soon</h1>
				</div>
				<a class="btn btn-primary btn-med btn-1 " href="/home/index" role="button">Back</a>
				</div>
		</div>
</div>


  
  		
