<br>
<div class='row text-center'>
	<h2>Rhubarb Collective</h2>
<div class="image col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1">
	<%= image_tag 'rhubarb.png' %>
	<br><br>
	<div class='btn btn-secondary'>Visit</div>
	</div>
	
</div>
<div class="image col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1">
		<p>
			 <br>Responsive web application designed to register private community gardens. 							
			 <br><br>Project has been taken from conception at a design spring called "Startup Calgary 2016".
			 <br><br>Project team is currently at 3, I am the lead developer. 
		</p>
</div>




