

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.row-1 {
	background: lightgrey;
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vw;
}

.text {
	padding-top: 10vw;
}

.text2{
	padding-top: 3vw;
}



h1 {
	color: black;
	size: 10vw;
	
}


p {
	color: black;
}



