// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
	background: image-url('blue.jpg');
	background-size: cover;
	height: 100%;
	fixed-left: true;
}


h1 {
	text-align: center;
	padding-left: 200px;
	padding-top: 100px;
}


p {
	text-align: center;
	padding-left: 200px;
}

body {
 	padding-top: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}