

// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background: lightgrey;
}

.container-nav {
	padding-top: 10px;
}

.row-notice {
	background: lightgreen;
}


.icon-bar {
	text-align: center;
}

.btn-primary {
	background: navy-blue;
	-webkit-transition: all 0.5s ease;
}

.btn-primary:hover {
	-webkit-transform: scale(1.1);
	background: lightgrey;
	box-shadow: 3px 3px 5px #000;
}

.fa:hover {
	-webkit-transform: scale(1.1);
	background: lightgrey;
}

.fa-cog:hover {
  -webkit-transform: rotate(360);
}

.container-1 {
	background: grey;
	padding-top: 5vw;
	padding-bottom: 5vw;
	color: white;
}

.container-content {
	padding-top: 50px;
}

.row-3 {
	background: 
		linear-gradient(
		rgba(0, 0, 0, 0.45), 
		rgba(0, 0, 0, 0.45)
		), 
		url('calgary.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vw;
	padding-top: 2vw;
}

.row-leismer {
	background: 
		linear-gradient(
		rgba(0, 0, 0, 0.45), 
		rgba(0, 0, 0, 0.45)
		), 
		url('construction.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 10vw;
	padding-top: 2vw;
}

.row-isolation {
	background: 
		linear-gradient(
		rgba(0, 0, 0, 0.45), 
		rgba(0, 0, 0, 0.45)
		), 
		url('red.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 10vw;
	padding-top: 2vw;
}

.row-keystone {
	background: 
		linear-gradient(
		rgba(0, 0, 0, 0.45), 
		rgba(0, 0, 0, 0.45)
		), 
		url('green.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 10vw;
	padding-top: 2vw;
}

.row-insitu {
	background: 
		linear-gradient(
		rgba(0, 0, 0, 0.45), 
		rgba(0, 0, 0, 0.45)
		), 
		url('blue.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 10vw;
	padding-top: 2vw;
}



h1 {
	color: white;
	size: 10vw;
	font-family: 'Satisfy', cursive;	
}

h2 {
	color:white;
	size: 10vw;
}

h3 {
	color: white;
}

h4 {
	color: navy-blue;
	height: 50px;
	font-family: 'Satisfy', cursive;	
}

p {
	color: white;
}

.row-footer {
	padding-top: 10px;
}



