// Place all the styles related to the register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.row-2 {
	background: 
		linear-gradient(
		rgba(0, 0, 0, 0.45), 
		rgba(0, 0, 0, 0.45)
		), 
	url('calgary.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 50vw;
	padding-top: 2vw;
}

h2 {
	color:white;
	size: 10vw;
}