// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Mobile
@media (max-width: 480px) {
	.top-content { 
		img { 
			max-width: 90% ;
		}
	}
}

//Tablet
@media (min-width: 481px) and (max-width: 769px) {
	.top-content { 
		img { 
			max-width: 30em ;
		}
	}
}


@media (min-width: 769px) {
	.top-content { 
		img { 
			max-width: 30em ;
		}
	}

}
