// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200);

//Variables
$primary: #34495E;
$secondary: #a3c2c2;




//General Styles

.landing-down { 
	position: absolute;
	left: center;
	bottom: 10px;
	
	color: white;
}

.nav-icon { 
	padding: 15px;
	color: $primary;
}

.jumbotron-main {
	background: transparent;
	padding-top: 30vh;
}

.jumbotron {
	background: transparent;
}

.jumbotron h1{
	color: white;
	font-family: 'Satisfy', cursive;
}


h2 {
	color: white;
	font-family: 'Raleway', sans-serif;
}

p {
	color: white;
	font-family: 'Raleway', sans-serif;
}

.top-content {
	height: 100vh;
}

.about-me-container {
	background:  $primary;
	background-size: cover;
}	

.btn-primary {
	width: 3.5em;
	height: 3.5em;
	margin: 0 auto;
    font-size: 3em;
	text-align: center;
    color: white;
    line-height: 3em;
	border-color: white;
	background: $secondary;
    -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%;
    -o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
}

.list-group-item {
	background: transparent;
	color: white;
	border: none;
}


.toggle-col {
	padding-bottom: 3em;
}

h3 {
	color: white;
}

.projects-container { 
	background: #879292;
	background-size: cover;
	overflow: visible;
}

.projects-container a {
	color: #99ceff;
}

.projects-container img { 
	max-width: 100%;
}
.contact-container {
	background: $primary;
	background-size: cover;
}

 .carousel-indicators {
     position: relative;
     top: 2em;
     }
	 
.carousel-indicators li {
    background: $primary;
    width:2em;
    height:2em;
    cursor: pointer;
    text-align: center;
}


.btn-secondary { 
	background: $primary;
	margin: 0 auto;
	text-align: center;
	color: white;
	border-color: white;
}


.footer-icon { 
	padding: 1em;
	color: white;
}



.contact-container { 
	background: $primary;
}

//Contact form 
.container-1 { 
	padding-top: 50px;
	padding-bottom: 50px;
	background: $primary;
}

label.control-label {
	color: white;
}



//Mobile
@media (max-width: 480px) {
	.top-content {
		background:
			linear-gradient(
			rgba(0, 0, 0, 0.25), 
			rgba(0, 0, 0, 0.25)
	    	), 
			url('chambers.jpg') no-repeat center center;
		background-size: cover;
	}
}

//Tablet
@media (min-width: 481px) and (max-width: 768px) {
	.top-content {
		background:
			linear-gradient(
			rgba(0, 0, 0, 0.45), 
			rgba(0, 0, 0, 0.45)
	    	), 
			url('snowboard.jpg') no-repeat center center;
		background-size: cover;
	}
	
	.about-me-container {
		min-height: 75vh;
	}	
	
	
}


//Desktop
@media (min-width: 769px) {
	.top-content {
		background:
			linear-gradient(
			rgba(0, 0, 0, 0.45), 
			rgba(0, 0, 0, 0.45)
	    	), 
			url('snowboard.jpg') no-repeat center center;
		background-size: cover;
	}
	
	.about-me-container {
		min-height: 40vh;
	}	
	
	div.carousel-inner {
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 100px;
	}
	
}



