// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200);

//Variables
$primary: #34495E;
$secondary: #a3c2c2;

body { 
	overflow-x: hidden;
}

.top-content { 
	min-height: 100vh;
	background: rgb(248,248,248);
	background-size: cover;
}

button { 
	background: none;
	border: none;
}

/* override position and transform in 3.3.x */
.carousel-inner { 
	overflow: hidden;
}

.carousel-inner .item.left.active {
  transform: translateX(-33%);
}
.carousel-inner .item.right.active {
  transform: translateX(33%);
}

.carousel-inner .item.next {
  transform: translateX(33%)
}
.carousel-inner .item.prev {
  transform: translateX(-33%)
}

.carousel-inner .item.right,
.carousel-inner .item.left { 
  transform: translateX(0);
}


.carousel-control.left,.carousel-control.right {background-image:none;}

//General Styles

hr { 
	border: solid $primary 1px;
	background: $primary;
}

a { 
	color: $primary;
}

h1{
	font-family: 'Satisfy', cursive;
	z-index: 100;
}

h2, h3 {
	font-family: 'Raleway', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
}

.list-group-item {
	background: transparent;
	border: none;
}

.row-footer { 
	position: absolute bottom-center; 
	background: $primary;
}

.footer-icon { 
	padding: 1em;
	color: white;
}
